:root {
    --large-font-family: "Inter", Helvetica;
    --large-font-size: 16px;
    --large-font-style: normal;
    --large-font-weight: 400;
    --large-letter-spacing: 0px;
    --large-line-height: normal;
    --medium-font-family: "Inter", Helvetica;
    --medium-font-size: 14px;
    --medium-font-style: normal;
    --medium-font-weight: 500;
    --medium-letter-spacing: 0.7px;
    --medium-line-height: normal;
    --primitive-color-blue-100: rgba(231, 232, 255, 1);
    --primitive-color-blue-200: rgba(203, 207, 255, 1);
    --primitive-color-blue-300: rgba(172, 178, 255, 1);
    --primitive-color-blue-400: rgba(133, 144, 255, 1);
    --primitive-color-blue-50: rgba(242, 243, 255, 1);
    --primitive-color-blue-500: rgba(0, 64, 255, 1);
    --primitive-color-blue-600: rgba(0, 61, 243, 1);
    --primitive-color-blue-700: rgba(0, 55, 218, 1);
    --primitive-color-blue-800: rgba(0, 47, 188, 1);
    --primitive-color-blue-900: rgba(0, 39, 154, 1);
    --primitive-color-blue-950: rgba(0, 27, 109, 1);
    --primitive-color-gold-100: rgba(254, 246, 231, 1);
    --primitive-color-gold-200: rgba(254, 236, 203, 1);
    --primitive-color-gold-300: rgba(253, 227, 172, 1);
    --primitive-color-gold-400: rgba(253, 216, 133, 1);
    --primitive-color-gold-50: rgba(255, 250, 242, 1);
    --primitive-color-gold-500: rgba(252, 200, 0, 1);
    --primitive-color-gold-600: rgba(240, 191, 0, 1);
    --primitive-color-gold-700: rgba(215, 171, 0, 1);
    --primitive-color-gold-800: rgba(186, 148, 0, 1);
    --primitive-color-gold-900: rgba(152, 121, 0, 1);
    --primitive-color-gold-950: rgba(108, 85, 0, 1);
    --primitive-color-gray-100: rgba(231, 240, 240, 1);
    --primitive-color-gray-200: rgba(205, 224, 225, 1);
    --primitive-color-gray-300: rgba(174, 207, 208, 1);
    --primitive-color-gray-400: rgba(137, 189, 190, 1);
    --primitive-color-gray-50: rgba(242, 247, 247, 1);
    --primitive-color-gray-500: rgba(39, 157, 159, 1);
    --primitive-color-gray-600: rgba(37, 150, 152, 1);
    --primitive-color-gray-700: rgba(33, 134, 136, 1);
    --primitive-color-gray-800: rgba(29, 116, 117, 1);
    --primitive-color-gray-900: rgba(24, 95, 96, 1);
    --primitive-color-gray-950: rgba(17, 67, 68, 1);
    --primitive-color-red-100: rgba(249, 231, 232, 1);
    --primitive-color-red-200: rgba(243, 203, 206, 1);
    --primitive-color-red-300: rgba(237, 172, 176, 1);
    --primitive-color-red-400: rgba(230, 133, 140, 1);
    --primitive-color-red-50: rgba(252, 242, 242, 1);
    --primitive-color-red-500: rgba(220, 5, 51, 1);
    --primitive-color-red-600: rgba(210, 5, 49, 1);
    --primitive-color-red-700: rgba(188, 4, 44, 1);
    --primitive-color-red-800: rgba(163, 4, 38, 1);
    --primitive-color-red-900: rgba(133, 3, 31, 1);
    --primitive-color-red-950: rgba(94, 2, 22, 1);
    --primitive-size-large-border: 3px;
    --primitive-size-large-gap: 6px;
    --primitive-size-large-large-6: 32px;
    --primitive-size-large-lg: 20px;
    --primitive-size-large-lg-2: 22px;
    --primitive-size-large-lg-3: 24px;
    --primitive-size-large-lg-4: 26px;
    --primitive-size-large-lg-5: 28px;
    --primitive-size-large-lg-6: 30px;
    --primitive-size-large-px: 18px;
    --primitive-size-large-py: 12px;
    --primitive-size-large-radius: 8px;
    --primitive-size-medium-border: 2px;
    --primitive-size-medium-gap: 4px;
    --primitive-size-medium-md: 10px;
    --primitive-size-medium-md-2: 12px;
    --primitive-size-medium-md-3: 14px;
    --primitive-size-medium-md-4: 16px;
    --primitive-size-medium-md-5: 18px;
    --primitive-size-medium-px: 16px;
    --primitive-size-medium-py: 8px;
    --primitive-size-medium-radius: 5px;
    --primitive-size-small-border: 1px;
    --primitive-size-small-gap: 2px;
    --primitive-size-small-px: 8px;
    --primitive-size-small-py: 4px;
    --primitive-size-small-radius: 4px;
    --primitive-size-small-sm: 4px;
    --primitive-size-small-sm-2: 5px;
    --primitive-size-small-sm-3: 6px;
    --primitive-size-small-small-4: 8px;
    --semantic-bg-blue-blue: var(--primitive-color-blue-50);
    --semantic-bg-blue-blue-14: var(--primitive-color-blue-900);
    --semantic-bg-blue-blue-2: var(--primitive-color-blue-100);
    --semantic-bg-blue-blue-3: var(--primitive-color-blue-200);
    --semantic-bg-blue-blue-4: var(--primitive-color-blue-300);
    --semantic-bg-blue-blue-5: var(--primitive-color-blue-400);
    --semantic-bg-blue-blue-6: var(--primitive-color-blue-500);
    --semantic-bg-blue-blue-7: var(--primitive-color-blue-600);
    --semantic-bg-blue-blue-8: var(--primitive-color-blue-700);
    --semantic-bg-blue-blue-9: var(--primitive-color-blue-800);
    --semantic-bg-gold-gold: var(--primitive-color-gold-50);
    --semantic-bg-gold-gold-10: var(--primitive-color-gold-900);
    --semantic-bg-gold-gold-2: var(--primitive-color-gold-100);
    --semantic-bg-gold-gold-3: var(--primitive-color-gold-200);
    --semantic-bg-gold-gold-4: var(--primitive-color-gold-300);
    --semantic-bg-gold-gold-5: var(--primitive-color-gold-400);
    --semantic-bg-gold-gold-6: var(--primitive-color-gold-500);
    --semantic-bg-gold-gold-7: var(--primitive-color-gold-600);
    --semantic-bg-gold-gold-8: var(--primitive-color-gold-700);
    --semantic-bg-gold-gold-9: var(--primitive-color-gold-800);
    --semantic-bg-gray-gray: var(--primitive-color-gray-50);
    --semantic-bg-gray-gray-10: var(--primitive-color-gray-900);
    --semantic-bg-gray-gray-2: var(--primitive-color-gray-100);
    --semantic-bg-gray-gray-3: var(--primitive-color-gray-200);
    --semantic-bg-gray-gray-4: var(--primitive-color-gray-300);
    --semantic-bg-gray-gray-5: var(--primitive-color-gray-400);
    --semantic-bg-gray-gray-6: var(--primitive-color-gray-500);
    --semantic-bg-gray-gray-7: var(--primitive-color-gray-600);
    --semantic-bg-gray-gray-8: var(--primitive-color-gray-700);
    --semantic-bg-gray-gray-9: var(--primitive-color-gray-800);
    --semantic-bg-red-red: var(--primitive-color-red-50);
    --semantic-bg-red-red-10: var(--primitive-color-red-900);
    --semantic-bg-red-red-2: var(--primitive-color-red-100);
    --semantic-bg-red-red-3: var(--primitive-color-red-200);
    --semantic-bg-red-red-4: var(--primitive-color-red-300);
    --semantic-bg-red-red-5: var(--primitive-color-red-400);
    --semantic-bg-red-red-6: var(--primitive-color-red-500);
    --semantic-bg-red-red-7: var(--primitive-color-red-600);
    --semantic-bg-red-red-8: var(--primitive-color-red-700);
    --semantic-bg-red-red-9: var(--primitive-color-red-800);
    --semantic-border-blue-blue: var(--primitive-color-blue-50);
    --semantic-border-blue-blue-14: var(--primitive-color-blue-900);
    --semantic-border-blue-blue-2: var(--primitive-color-blue-100);
    --semantic-border-blue-blue-3: var(--primitive-color-blue-200);
    --semantic-border-blue-blue-4: var(--primitive-color-blue-300);
    --semantic-border-blue-blue-5: var(--primitive-color-blue-400);
    --semantic-border-blue-blue-6: var(--primitive-color-blue-500);
    --semantic-border-blue-blue-7: var(--primitive-color-blue-600);
    --semantic-border-blue-blue-8: var(--primitive-color-blue-700);
    --semantic-border-blue-blue-9: var(--primitive-color-blue-800);
    --semantic-border-gold-gold: var(--primitive-color-gold-50);
    --semantic-border-gold-gold-10: var(--primitive-color-gold-900);
    --semantic-border-gold-gold-2: var(--primitive-color-gold-100);
    --semantic-border-gold-gold-3: var(--primitive-color-gold-200);
    --semantic-border-gold-gold-4: var(--primitive-color-gold-300);
    --semantic-border-gold-gold-5: var(--primitive-color-gold-400);
    --semantic-border-gold-gold-6: var(--primitive-color-gold-500);
    --semantic-border-gold-gold-7: var(--primitive-color-gold-600);
    --semantic-border-gold-gold-8: var(--primitive-color-gold-700);
    --semantic-border-gold-gold-9: var(--primitive-color-gold-800);
    --semantic-border-gray-gray: var(--primitive-color-gray-50);
    --semantic-border-gray-gray-10: var(--primitive-color-gray-900);
    --semantic-border-gray-gray-2: var(--primitive-color-gray-100);
    --semantic-border-gray-gray-3: var(--primitive-color-gray-200);
    --semantic-border-gray-gray-4: var(--primitive-color-gray-300);
    --semantic-border-gray-gray-5: var(--primitive-color-gray-400);
    --semantic-border-gray-gray-6: var(--primitive-color-gray-500);
    --semantic-border-gray-gray-7: var(--primitive-color-gray-600);
    --semantic-border-gray-gray-8: var(--primitive-color-gray-700);
    --semantic-border-gray-gray-9: var(--primitive-color-gray-800);
    --semantic-border-red-red: var(--primitive-color-red-50);
    --semantic-border-red-red-10: var(--primitive-color-red-900);
    --semantic-border-red-red-2: var(--primitive-color-red-100);
    --semantic-border-red-red-3: var(--primitive-color-red-200);
    --semantic-border-red-red-4: var(--primitive-color-red-300);
    --semantic-border-red-red-5: var(--primitive-color-red-400);
    --semantic-border-red-red-6: var(--primitive-color-red-500);
    --semantic-border-red-red-7: var(--primitive-color-red-600);
    --semantic-border-red-red-8: var(--primitive-color-red-700);
    --semantic-border-red-red-9: var(--primitive-color-red-800);
    --semantic-lg-space-border: var(--primitive-size-large-border);
    --semantic-lg-space-gap: var(--primitive-size-large-gap);
    --semantic-lg-space-px: var(--primitive-size-large-px);
    --semantic-lg-space-py: var(--primitive-size-large-py);
    --semantic-md-space-border: var(--primitive-size-medium-border);
    --semantic-md-space-gap: var(--primitive-size-medium-gap);
    --semantic-md-space-px: var(--primitive-size-medium-px);
    --semantic-md-space-py: var(--primitive-size-medium-py);
    --semantic-radius-md: var(--primitive-size-medium-radius);
    --semantic-radius-radius-lg: var(--primitive-size-large-radius);
    --semantic-radius-sm: var(--primitive-size-small-radius);
    --semantic-sm-space-border: var(--primitive-size-small-border);
    --semantic-sm-space-gap: var(--primitive-size-small-gap);
    --semantic-sm-space-px: var(--primitive-size-small-px);
    --semantic-sm-space-py: var(--primitive-size-small-py);
    --semantic-text-black: rgba(0, 0, 0, 1);
    --semantic-text-blue-blue: var(--primitive-color-blue-50);
    --semantic-text-blue-blue-14: var(--primitive-color-blue-900);
    --semantic-text-blue-blue-2: var(--primitive-color-blue-100);
    --semantic-text-blue-blue-3: var(--primitive-color-blue-200);
    --semantic-text-blue-blue-4: var(--primitive-color-blue-300);
    --semantic-text-blue-blue-5: var(--primitive-color-blue-400);
    --semantic-text-blue-blue-6: var(--primitive-color-blue-500);
    --semantic-text-blue-blue-7: var(--primitive-color-blue-600);
    --semantic-text-blue-blue-8: var(--primitive-color-blue-700);
    --semantic-text-blue-blue-9: var(--primitive-color-blue-800);
    --semantic-text-gold-gold: var(--primitive-color-gold-50);
    --semantic-text-gold-gold-10: var(--primitive-color-gold-900);
    --semantic-text-gold-gold-2: var(--primitive-color-gold-100);
    --semantic-text-gold-gold-3: var(--primitive-color-gold-200);
    --semantic-text-gold-gold-4: var(--primitive-color-gold-300);
    --semantic-text-gold-gold-5: var(--primitive-color-gold-400);
    --semantic-text-gold-gold-6: var(--primitive-color-gold-500);
    --semantic-text-gold-gold-7: var(--primitive-color-gold-600);
    --semantic-text-gold-gold-8: var(--primitive-color-gold-700);
    --semantic-text-gold-gold-9: var(--primitive-color-gold-800);
    --semantic-text-gray-gray: var(--primitive-color-gray-50);
    --semantic-text-gray-gray-10: var(--primitive-color-gray-900);
    --semantic-text-gray-gray-2: var(--primitive-color-gray-100);
    --semantic-text-gray-gray-3: var(--primitive-color-gray-200);
    --semantic-text-gray-gray-4: var(--primitive-color-gray-300);
    --semantic-text-gray-gray-5: var(--primitive-color-gray-400);
    --semantic-text-gray-gray-6: var(--primitive-color-gray-500);
    --semantic-text-gray-gray-7: var(--primitive-color-gray-600);
    --semantic-text-gray-gray-8: var(--primitive-color-gray-700);
    --semantic-text-gray-gray-9: var(--primitive-color-gray-800);
    --semantic-text-red-red: var(--primitive-color-red-50);
    --semantic-text-red-red-10: var(--primitive-color-red-900);
    --semantic-text-red-red-2: var(--primitive-color-red-100);
    --semantic-text-red-red-3: var(--primitive-color-red-200);
    --semantic-text-red-red-4: var(--primitive-color-red-300);
    --semantic-text-red-red-5: var(--primitive-color-red-400);
    --semantic-text-red-red-6: var(--primitive-color-red-500);
    --semantic-text-red-red-7: var(--primitive-color-red-600);
    --semantic-text-red-red-8: var(--primitive-color-red-700);
    --semantic-text-red-red-9: var(--primitive-color-red-800);
    --small-font-family: "Inter", Helvetica;
    --small-font-size: 12px;
    --small-font-style: normal;
    --small-font-weight: 400;
    --small-letter-spacing: 0px;
    --small-line-height: normal;
    --specific-btn-filled-destructive-default-color: var(--semantic-bg-red-red-6);
    --specific-btn-filled-destructive-disabled-color: var(--semantic-bg-red-red-2);
    --specific-btn-filled-destructive-focused-color: var(--semantic-bg-red-red-4);
    --specific-btn-filled-destructive-hover-color: var(--semantic-bg-red-red-3);
    --specific-btn-filled-destructive-pressed-color: var(--semantic-bg-red-red-5);
    --specific-btn-filled-gray-default-color: var(--semantic-bg-gray-gray-6);
    --specific-btn-filled-gray-disabled-color: var(--semantic-bg-gray-gray-2);
    --specific-btn-filled-gray-focused-color: var(--semantic-bg-gray-gray-4);
    --specific-btn-filled-gray-hover-color: var(--primitive-color-gray-200);
    --specific-btn-filled-gray-pressed-color: var(--semantic-bg-gray-gray-5);
    --specific-btn-filled-primary-default-color: var(--semantic-bg-blue-blue-6);
    --specific-btn-filled-primary-default-color-2: var(--semantic-text-black);
    --specific-btn-filled-primary-disabled-color: var(--semantic-bg-blue-blue-2);
    --specific-btn-filled-primary-focused-color: var(--semantic-bg-blue-blue-5);
    --specific-btn-filled-primary-hover-color: var(--semantic-bg-blue-blue-4);
    --specific-btn-filled-primary-pressed-color: var(--semantic-bg-blue-blue-3);
    --specific-btn-filled-secondary-default-color: var(--semantic-bg-gold-gold-6);
    --specific-btn-filled-secondary-disabled-color: var(--semantic-bg-gold-gold-2);
    --specific-btn-filled-secondary-focused-color: var(--semantic-bg-gold-gold-5);
    --specific-btn-filled-secondary-hover-color: var(--primitive-color-gold-300);
    --specific-btn-filled-secondary-pressed-color: var(--semantic-bg-gold-gold-3);
    --specific-btn-lg-border: var(--semantic-lg-space-border);
    --specific-btn-lg-gap: var(--semantic-lg-space-gap);
    --specific-btn-lg-px: var(--semantic-lg-space-px);
    --specific-btn-lg-py: var(--semantic-lg-space-py);
    --specific-btn-lg-radius: var(--semantic-radius-radius-lg);
    --specific-btn-md-border: var(--semantic-md-space-border);
    --specific-btn-md-gap: var(--semantic-md-space-gap);
    --specific-btn-md-px: var(--semantic-md-space-px);
    --specific-btn-md-py: var(--semantic-md-space-py);
    --specific-btn-md-radius: var(--semantic-radius-md);
    --specific-btn-outline-destructive-default-color: var(--semantic-border-red-red-6);
    --specific-btn-outline-destructive-disabled-color: var(--semantic-border-red-red-2);
    --specific-btn-outline-destructive-focused-color: var(--semantic-bg-red-red-5);
    --specific-btn-outline-destructive-hover-color: var(--semantic-border-red-red-3);
    --specific-btn-outline-destructive-pressed-color: var(--semantic-bg-red-red-3);
    --specific-btn-outline-gray-default-color: var(--semantic-border-gray-gray-6);
    --specific-btn-outline-gray-disabled-color: var(--semantic-border-gray-gray-2);
    --specific-btn-outline-gray-focused-color: var(--semantic-border-gray-gray-5);
    --specific-btn-outline-gray-hover-color: var(--semantic-border-gray-gray-3);
    --specific-btn-outline-gray-pressed-color: var(--semantic-border-gray-gray-3);
    --specific-btn-outline-primary-default-color: var(--semantic-border-blue-blue-6);
    --specific-btn-outline-primary-disabled-color: var(--semantic-border-blue-blue-2);
    --specific-btn-outline-primary-focused-color: var(--semantic-border-blue-blue-4);
    --specific-btn-outline-primary-hover-color: var(--semantic-border-blue-blue-3);
    --specific-btn-outline-primary-pressed-color: var(--semantic-border-blue-blue-5);
    --specific-btn-outline-secondary-default-color: var(--semantic-border-gold-gold-6);
    --specific-btn-outline-secondary-disabled-color: var(--semantic-border-gold-gold-2);
    --specific-btn-outline-secondary-focused-color: var(--semantic-border-gold-gold-3);
    --specific-btn-outline-secondary-hover-color: var(--semantic-border-gold-gold-4);
    --specific-btn-outline-secondary-pressed-color: var(--semantic-border-gold-gold-5);
    --specific-btn-sm-gap: var(--semantic-sm-space-gap);
    --specific-btn-sm-px: var(--semantic-sm-space-px);
    --specific-btn-sm-py: var(--semantic-sm-space-py);
    --specific-btn-sm-radius: var(--semantic-radius-sm);
    --specific-btn-text-destructive-default-color: var(--semantic-text-red-red-6);
    --specific-btn-text-destructive-disabled-color: var(--semantic-text-red-red-2);
    --specific-btn-text-destructive-focused-color: var(--semantic-text-red-red-3);
    --specific-btn-text-destructive-hover-color: var(--semantic-text-red-red-4);
    --specific-btn-text-destructive-pressed-color: var(--semantic-text-red-red-5);
    --specific-btn-text-gray-default-color: var(--semantic-text-gray-gray-6);
    --specific-btn-text-gray-disabled-color: var(--semantic-text-gray-gray-2);
    --specific-btn-text-gray-focused-color: var(--semantic-text-gray-gray-3);
    --specific-btn-text-gray-hover-color: var(--semantic-text-gray-gray-3);
    --specific-btn-text-gray-pressed-color: var(--semantic-text-gray-gray-5);
    --specific-btn-text-primary-default-color: var(--semantic-text-blue-blue-6);
    --specific-btn-text-primary-disabled-color: var(--semantic-text-blue-blue-2);
    --specific-btn-text-primary-focused-color: var(--semantic-text-blue-blue-5);
    --specific-btn-text-primary-hover-color: var(--semantic-text-blue-blue-4);
    --specific-btn-text-primary-pressed-color: var(--semantic-text-blue-blue-4);
    --specific-btn-text-secondary-default-color: var(--semantic-text-gold-gold-6);
    --specific-btn-text-secondary-disabled-color: var(--semantic-text-gold-gold-2);
    --specific-btn-text-secondary-focused-color: var(--semantic-text-gold-gold-4);
    --specific-btn-text-secondary-hover-color: var(--semantic-text-gold-gold-3);
    --specific-btn-text-secondary-pressed-color: var(--semantic-text-gold-gold-5);
  }
  