:root {
    /* Primitive */
    --size-1: 1px;
    --size-2: 2px;
    --size-3: 3px;
    --size-4: 4px;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;
    --size-20: 20px;
    --size-24: 24px;
    --size-28: 28px;
    --size-32: 32px;
    --size-36: 36px;
    --size-38: 38px;
    --size-40: 40px;

   
--blue-50: #F2F3FF;
--blue-100: #E7E8FF;
--blue-200: #CBCFFF;
--blue-300: #ACB2FF;
--blue-400: #8590FF;
--blue-500: #0040FF;
--blue-600: #003DF3;
--blue-700: #0037DA;
--blue-800: #002FBC;
--blue-900: #00279A;
--blue-950: #001B6D;

--gold-50: #FFFAF2;
--gold-100: #FEF6E7;
--gold-200: #FEECCB;
--gold-300: #FDE3AC;
--gold-400: #FDD885;
--gold-500: #FCC800;
--gold-600: #F0BF00;
--gold-700: #D7AB00;
--gold-800: #BA9400;
--gold-900: #987900;
--gold-950: #6C5500; 

--gray-50: #F2F7F7;
--gray-100: #E7F0F0;
--gray-200: #CDE0E1;
--gray-300: #AECFD0;
--gray-400: #89BDBE;
--gray-500: #279D9F;
--gray-600: #259698;
--gray-700: #218688;
--gray-800: #1D7475;
--gray-900: #185F60;
--gray-950: #114344;

--red-50: #FCF2F2;
--red-100: #F9E7E8;
--red-200: #F3CBCE;
--red-300: #EDACB0;
--red-400: #E6858C;
--red-500: #DC0533;
--red-600: #D20531;
--red-700: #BC042C;
--red-800: #A30426;
--red-900: #85031F;
--red-950: #5E0216;
/* Semantic */

--sm-py: var(--size-4);
--sm-px: var(--size-8);
--sm-space-gap: var(--size-2);
--sm-border: var(--size-1);

--md-py: var(--size-8);
--md-px: var(--size-16);
--md-space-gap: var(--size-4);
--md-border: var(--size-2);

--lg-border: var(--size-3);
--lg-py: var(--size-12);
--lg-px: var(--size-18);
--lg-space-gap: var(--size-6);

--radius-sm: var(--size-4);
--radius-md: var(--size-6);
--radius-lg: var(--size-8);

--text-brand: #000000;
--text-blue-50: var(--blue-50);
--text-blue-100: var(--blue-100);
--text-blue-200: var(--blue-200);
--text-blue-300: var(--blue-300);
--text-blue-400: var(--blue-400);
--text-blue-500: var(--blue-500);
--text-blue-600: var(--blue-600);
--text-blue-700: var(--blue-700);
--text-blue-800: var(--blue-800);
--text-blue-900: var(--blue-900);
--text-gold-50: var(--gold-50);
--text-gold-100: var(--gold-100);
--text-gold-200: var(--gold-200);
--text-gold-300: var(--gold-300);
--text-gold-400: var(--gold-400);
--text-gold-500: var(--gold-500);
--text-gold-600: var(--gold-600);
--text-gold-700: var(--gold-700);
--text-gold-800: var(--gold-800);
--text-gold-900: var(--gold-900);
--text-gray-50: var(--gray-50);
--text-gray-100: var(--gray-100);
--text-gray-200: var(--gray-200);
--text-gray-300: var(--gray-300);
--text-gray-400: var(--gray-400);
--text-gray-500: var(--gray-500);
--text-gray-600: var(--gray-600);
--text-gray-700: var(--gray-700);
--text-gray-800: var(--gray-800);
--text-gray-900: var(--gray-900);
--text-red-50: var(--red-50);
--text-red-100: var(--red-100);
--text-red-200: var(--red-200);
--text-red-300: var(--red-300);
--text-red-400: var(--red-400);
--text-red-500: var(--red-500);
--text-red-600: var(--red-600);
--text-red-700: var(--red-700);
--text-red-800: var(--red-800);
--text-red-900: var(--red-900);

--border-blue-50: var(--blue-50);
--border-blue-100: var(--blue-100);
--border-blue-200: var(--blue-200);
--border-blue-300: var(--blue-300);
--border-blue-400: var(--blue-400);
--border-blue-500: var(--blue-500);
--border-blue-600: var(--blue-600);
--border-blue-700: var(--blue-700);
--border-blue-800: var(--blue-800);
--border-blue-900: var(--blue-900);
--border-gold-50: var(--gold-50);
--border-gold-100: var(--gold-100);
--border-gold-200: var(--gold-200);
--border-gold-300: var(--gold-300);
--border-gold-400: var(--gold-400);
--border-gold-500: var(--gold-500);
--border-gold-600: var(--gold-600);
--border-gold-700: var(--gold-700);
--border-gold-800: var(--gold-800);
--border-gold-900: var(--gold-900);
--border-gray-50: var(--gray-50);
--border-gray-100: var(--gray-100);
--border-gray-200: var(--gray-200);
--border-gray-300: var(--gray-300);
--border-gray-400: var(--gray-400);
--border-gray-500: var(--gray-500);
--border-gray-600: var(--gray-600);
--border-gray-700: var(--gray-700);
--border-gray-800: var(--gray-800);
--border-gray-900: var(--gray-900);
--border-red-50: var(--red-50);
--border-red-100: var(--red-100);
--border-red-200: var(--red-200);
--border-red-300: var(--red-300);
--border-red-400: var(--red-400);
--border-red-500: var(--red-500);
--border-red-600: var(--red-600);
--border-red-700: var(--red-700);
--border-red-800: var(--red-800);
--border-red-900: var(--red-900);

--bg-blue-50: var(--blue-50);
--bg-blue-100: var(--blue-100);
--bg-blue-200: var(--blue-200);
--bg-blue-300: var(--blue-300);
--bg-blue-400: var(--blue-400);
--bg-blue-500: var(--blue-500);
--bg-blue-600: var(--blue-600);
--bg-blue-700: var(--blue-700);
--bg-blue-800: var(--blue-800);
--bg-blue-blue14: var(--blue-900);
--bg-gold-50: var(--gold-50);
--bg-gold-100: var(--gold-100);
--bg-gold-200: var(--gold-200);
--bg-gold-300: var(--gold-300);
--bg-gold-400: var(--gold-400);
--bg-gold-500: var(--gold-500);
--bg-gold-600: var(--gold-600);
--bg-gold-700: var(--gold-700);
--bg-gold-800: var(--gold-800);
--bg-gold-gold10: var(--gold-900);
--bg-gray-50: var(--gray-50);
--bg-gray-100: var(--gray-100);
--bg-gray-200: var(--gray-200);
--bg-gray-300: var(--gray-300);
--bg-gray-400: var(--gray-400);
--bg-gray-500: var(--gray-500);
--bg-gray-600: var(--gray-600);
--bg-gray-700: var(--gray-700);
--bg-gray-800: var(--gray-800);
--bg-gray-gray10: var(--gray-900);
--bg-red-50: var(--red-50);
--bg-red-100: var(--red-100);
--bg-red-200: var(--red-200);
--bg-red-300: var(--red-300);
--bg-red-400: var(--red-400);
--bg-red-500: var(--red-500);
--bg-red-600: var(--red-600);
--bg-red-700: var(--red-700);
--bg-red-800: var(--red-800);
--bg-red-900: var(--red-900);


/* Specific */

--btn-filled-primary-default-color: var(--bg-blue-500);
--btn-outline-primary-default-color: var(--border-blue-500);
--btn-outline-primary-hover-color: var(--border-blue-200);
--btn-outline-primary-focused-color: var(--border-blue-300);
--btn-outline-primary-pressed-color: var(--border-blue-400);
--btn-outline-primary-disabled-color: var(--border-blue-100);
--btn-outline-secondary-default-color: var(--border-gold-500);
--btn-outline-secondary-hover-color: var(--border-gold-300);
--btn-outline-secondary-focused-color: var(--border-gold-200);
--btn-outline-secondary-pressed-color: var(--border-gold-400);
--btn-outline-secondary-disabled-color: var(--border-gold-100);
--btn-outline-gray-default-color: var(--border-gray-500);
--btn-outline-gray-hover-color: var(--border-gray-200);
--btn-outline-gray-focused-color: var(--border-gray-400);
--btn-outline-gray-pressed-color: var(--border-gray-200);
--btn-outline-gray-disabled-color: var(--border-gray-100);
--btn-outline-destructive-default-color: var(--border-red-500);
--btn-outline-destructive-hover-color: var(--border-red-200);
--btn-outline-destructive-focused-color: var(--bg-red-400);
--btn-outline-destructive-pressed-color: var(--bg-red-200);
--btn-outline-destructive-disabled-color: var(--border-red-100);
--btn-filled-primary-default-color2: var(--text-brand);
--btn-filled-primary-hover-color: var(--bg-blue-300);
--btn-filled-primary-focused-color: var(--bg-blue-400);
--btn-filled-primary-pressed-color: var(--bg-blue-200);
--btn-filled-primary-disabled-color: var(--bg-blue-100);
--btn-filled-secondary-default-color: var(--bg-gold-500);
--btn-filled-secondary-hover-color: var(--gold-300);
--btn-filled-secondary-focused-color: var(--bg-gold-400);
--btn-filled-secondary-pressed-color: var(--bg-gold-200);
--btn-filled-secondary-disabled-color: var(--bg-gold-100);
--btn-filled-gray-default-color: var(--bg-gray-500);
--btn-filled-gray-hover-color: var(--gray-200);
--btn-filled-gray-focused-color: var(--bg-gray-300);
--btn-filled-gray-pressed-color: var(--bg-gray-400);
--btn-filled-gray-disabled-color: var(--bg-gray-100);
--btn-filled-destructive-default-color: var(--bg-red-500);
--btn-filled-destructive-hover-color: var(--bg-red-200);
--btn-filled-destructive-focused-color: var(--bg-red-300);
--btn-filled-destructive-pressed-color: var(--bg-red-400);
--btn-filled-destructive-disabled-color: var(--bg-red-100);
--btn-text-primary-default-color: var(--text-blue-500);
--btn-text-primary-hover-color: var(--text-blue-300);
--btn-text-primary-focused-color: var(--text-blue-400);
--btn-text-primary-pressed-color: var(--text-blue-300);
--btn-text-primary-disabled-color: var(--text-blue-100);
--btn-text-secondary-default-color: var(--text-gold-500);
--btn-text-secondary-hover-color: var(--text-gold-200);
--btn-text-secondary-focused-color: var(--text-gold-300);
--btn-text-secondary-pressed-color: var(--text-gold-400);
--btn-text-secondary-disabled-color: var(--text-gold-100);
--btn-text-gray-default-color: var(--text-gray-500);
--btn-text-gray-hover-color: var(--text-gray-200);
--btn-text-gray-focused-color: var(--text-gray-200);
--btn-text-gray-pressed-color: var(--text-gray-400);
--btn-text-gray-disabled-color: var(--text-gray-100);
--btn-text-destructive-default-color: var(--text-red-500);
--btn-text-destructive-hover-color: var(--text-red-300);
--btn-text-destructive-focused-color: var(--text-red-200);
--btn-text-destructive-pressed-color: var(--text-red-400);
--btn-text-destructive-disabled-color: var(--text-red-100);

--btn-sm-px: var(--sm-px);
--btn-sm-py: var(--sm-py);
--btn-sm-gap: var(--sm-space-gap);
--btn-sm-border: var(--border-sm);
--btn-sm-radius: var(--radius-sm);
--btn-md-px: var(--md-px);
--btn-md-py: var(--md-py);
--btn-md-gap: var(--md-space-gap);
--btn-md-border: var(--md-border);
--btn-md-radius: var(--radius-md);
--btn-lg-px: var(--lg-px);
--btn-lg-py: var(--lg-py);
--btn-lg-gap: var(--lg-space-gap);
--btn-lg-border: var(--lg-border);
--btn-lg-radius: var(--radius-lg);
}